## mysql
MYSQL_DATABASE=basic_framework
MYSQL_ROOT_PASSWORD=change-me-to-a-strong-random-password

## server
JAVA_OPTS=-Xms512m -Xmx512m -Djava.security.egd=file:/dev/./urandom

MASTER_DATASOURCE_URL=jdbc:mysql://basic-framework-mysql:3306/${MYSQL_DATABASE}?useSSL=false&serverTimezone=Asia/Shanghai&allowPublicKeyRetrieval=true&nullCatalogMeansCurrent=true
MASTER_DATASOURCE_USERNAME=root
MASTER_DATASOURCE_PASSWORD=${MYSQL_ROOT_PASSWORD}
REDIS_HOST=basic-framework-redis
